@import url(./style.css);

/* banner start */

.banner {
  padding: 8vh 5vw;
  max-height: 100vh;
}

.banner .nav-container .text-box h1 {
  font-family: "Poppins", sans-serif;
  color: transparent;
  -webkit-text-stroke: 4px;
  -webkit-text-stroke-color: var(--theme-color);
}

/* profile */
.profile {
  max-height: 100vh;
}

.profile .nav-container {
  height: 100vh;
  position: relative;
  justify-content: center;
}

.profile .nav-container .showcase-curtain {
  width: fit-content;
  width: fit-content;
  height: 70vh;
  z-index: 1;
  transition: all 0.5s ease;
  transform-origin: center;
}

.profile .nav-container .showcase-curtain img {
  width: fit-content;
  height: 100%;
}

.profile .awwwards,
.profile .skills {
  position: absolute;
  z-index: 5;
  top: 30vh;
  left: 5vw;
  width: fit-content;
  height: fit-content;
}

.profile .awwwards {
  right: 5vw;
  left: unset;
}

.profile .awwwards a,
.profile .skills a {
  cursor: pointer !important;
  color: transparent;
  font-size: 3vw;
  font-weight: 800;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: var(--theme-color);
  font-family: "Poppins", sans-serif;
}

.profile .awwwards a:hover,
.profile .skills a:hover {
  color: var(--theme-color);
}

.profile .awwwards .text-box:nth-of-type(1),
.profile .skills .text-box:nth-of-type(1) {
  margin-top: 1rem;
}

.profile .awwwards .text-box p,
.profile .skills .text-box p {
  font-size: 1.4vw;
  font-weight: 500;
  color: var(--theme-color);
  line-height: 1.4;
}

.profile .awwwards .text-box p .word:nth-child(1) {
  font-weight: 800;
}

.whitespace {
  padding: 0 0.4rem;
}

/* about */

.about {
  padding-bottom: 10vh;
}

.about .nav-container .text-box p {
  font-weight: 800;
  color: transparent;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: var(--theme-color);
  line-height: 1.5;
}

.about .nav-container .text-box p span {
  color: var(--theme-color);
  position: relative;
}

.about .nav-container .text-box p span:hover {
  text-decoration: underline 5px solid var(--theme-color);
}

/* images */
.wrapper {
  opacity: 0;
}
.extra {
  opacity: 0;
}

/* contact */
.contact {
  width: 100%;
  min-height: 50vh;
  padding: 5vh 0;
}

.contact .nav-container {
  border-top: 2px solid var(--theme-color);
  min-height: 50vh;
}

.contact .nav-container a {
  font-size: 10vw;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  color: transparent;
  -webkit-text-stroke: 3px var(--theme-color);
}

.contact .nav-container a:hover {
  color: var(--theme-color);
}

.contact .nav-container a::after {
  height: 5px;
}

.contact .nav-container p {
  font-size: 3vw;
  font-weight: 800;
  margin-top: 5vh;
  color: var(--theme-color);
}
