@import url(./style.css);

/* banner */

.banner {
  position: relative;
}

.banner .nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.menu {
  padding: 10vh 0;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: right;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  counter-reset: menucounter;
}

.menu__item {
  flex: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding-left: 5vw;
}

.menu__item::before {
  counter-increment: menucounter;
  content: counters(menucounter, ".", decimal-leading-zero);
  position: absolute;
  left: 0;
  border-left: 0.8rem solid var(--theme-color);
  top: 20%;
  height: 60%;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  line-height: 1;
  font-size: 2vw;
  font-weight: bold;
  opacity: 0;
  color: var(--theme-color);
  font-weight: bold;
  transform: translateX(-1rem);
  transition: transform 0.3s, opacity 0.3s;
}

.menu__item:hover::before {
  opacity: 1;
  transform: translateX(0);
}

.menu__item-text {
  position: relative;
  cursor: pointer;
  padding: 0.5rem;
  display: block;
  overflow: hidden;
  font-size: var(--h4-text);
}

.menu__item-textinner {
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  white-space: nowrap;
  color: transparent;
  -webkit-text-stroke: 3px;
  -webkit-text-stroke-color: var(--theme-color);
  transition: all 0.5s ease;
}

.menu__item:hover .menu__item-textinner {
  color: var(--theme-color);
}

.menu__item-sub {
  display: none;
  text-transform: uppercase;
  font-weight: bold;
  white-space: nowrap;
  align-items: center;
  position: relative;
  margin-left: 2rem;
  padding-left: 1rem;
  height: fit-content;
  font-size: 2vw;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--theme-color);
  overflow: hidden;
}

.menu__item-sub .word {
  overflow: hidden;
}

.menu__item-sub .word .char {
  transform: translateY(100%);
  transition: all 0.5s ease;
}

.menu__item-sub .word .char:nth-of-type(2) {
  transition-delay: 0.05s;
}
.menu__item-sub .word .char:nth-of-type(3) {
  transition-delay: 0.1s;
}
.menu__item-sub .word .char:nth-of-type(4) {
  transition-delay: 0.15s;
}

.menu__item:hover .menu__item-sub .word .char {
  transform: translateY(0);
}

.menu__item-sub::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15%;
  width: 3px;
  border-radius: 20px;
  height: 70%;
  background: var(--theme-color);
  transform-origin: bottom;
  transform: rotate(22.5deg) scale3d(1, 0, 1);
  transition: transform 0.3s;
}

.menu__item:hover .menu__item-sub::before {
  transform: rotate(22.5deg) scale3d(1, 1, 1);
}

.hover-reveal {
  position: absolute;
  z-index: -1;
  width: 30vw;
  height: 40vh;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
}

.hover-reveal__inner {
  overflow: hidden;
}

.hover-reveal__inner,
.hover-reveal__img {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0.5;
}

.hover-reveal__img {
  background-size: cover;
  background-position: 50% 50%;
}

@media screen and (min-width: 53em) {
  .menu {
    padding-top: 20vh;
  }
  .menu__item {
    justify-content: initial;
  }
  .menu__item-text {
    padding: 1vh 0;
  }
  .menu__item-sub {
    display: flex;
  }
}

/* contact */

.contact {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  opacity: 0;
  height: 100%;
  z-index: 100;
  background-color: var(--light-theme-color);
  padding: 10vh 0;
}

.contact::after {
  content: "";
  position: absolute;
  transform-origin: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 4px;
  background-color: var(--theme-color);
  z-index: -1;
}

.contact .nav-container {
  width: 90%;
  height: 80vh;
  background-color: var(--light-color);
  border: 4px solid var(--theme-color);
}

.contact .nav-container a {
  font-size: 10vw;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: transparent;
  -webkit-text-stroke: 4px var(--theme-color);
}

.contact .nav-container a:after {
  height: 4px;
}

.contact .nav-container a:hover {
  color: var(--theme-color);
}

.contact .nav-container p {
  font-size: 2vw;
  font-weight: 800;
  margin-top: 4vh;
  color: var(--theme-color);
}

.contact button {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%, -3%);
  background-color: transparent;
  transform-origin: center;
  font-size: 1.6vw;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  color: transparent;
  -webkit-text-stroke: 1.5px var(--theme-color);
}

.contact button:hover {
  color: var(--theme-color);
  -webkit-text-stroke: 1px;
}

/* media quarries */

@media only screen and (max-width: 950px) {
  .hover-reveal {
    width: 400px;
    height: 250px;
  }
}

@media only screen and (max-width: 900px) {
  .contact button {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 850px) {
  .menu__item {
    justify-content: flex-start;
  }
  .menu__item-textinner {
    -webkit-text-stroke: 2px var(--theme-color);
  }
}

@media only screen and (max-width: 600px) {
  .menu__item::before {
    padding-left: 0;
    font-size: 1rem;
  }
  .contact .nav-container a {
    -webkit-text-stroke: 2px var(--theme-color);
    font-size: 12vw;
  }
  .contact .nav-container p {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  .contact .nav-container {
    width: 85%;
  }
}

@media only screen and (max-width: 550px) {
  .hover-reveal {
    width: 280px;
    height: 150px;
  }
  :root {
    --h4-text: 3rem;
    --btn-font: 1.2rem;
  }
  .menu {
    padding: 20vh 0;
  }
}

@media only screen and (max-width: 420px) {
  :root {
    --h4-text: 11vw;
  }
  .contact .nav-container p {
    font-size: 1rem;
  }
}
