@import url(./custom.css);
/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::after,
::before {
  box-sizing: border-box;
  transition: all 0.5s ease;
}

ul {
  list-style: none;
}

a,
button,
input {
  position: relative;
  outline: none;
  border: none;
  text-decoration: none;
  color: var(--black-color);
  transition: all 0.5s ease;
  font-family: var(--i-bold);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C""\201D""\2018""\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  overflow-x: hidden;
  font-feature-settings: "kern" 1;
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  overscroll-behavior: none;
  font-family: "Poppins", sans-serif;
  color: var(--bg-color);
  background-color: var(--light-theme-color);
  transition: background-color 0.3s ease;
}

/* fonts */
@font-face {
  font-family: "i-bold";
  src: url(../fonts/iskry-bold.ttf);
}

/* roots */

:root {
  --i-bold: "i-bold";
  --black-color: #000;
  --white-color: #fff;
  --theme-color: #ff3a00; /*#ff6745*/
  --light-theme-color: #f4d8cc;
  --loader-color: #ff7045;
  --bg-color: #171717;
  --logo-color: #171323;
  --gray-color: #a3a3a3;
  --light-color: #f3f0d3;
  --border-color: rgba(23, 19, 35, 0.12);
  --btn-font: 1.5vw;
  --h1-text: 18vw;
  --h3-text: 8vw;
  --h4-text: 8vw;
  --big-text: 3vw;
  --slide-text: 10vw;
  --paragraph-text: 7vw;
  --text-center: center;
}

/* utilities classes */

.container {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-box {
  position: relative;
  overflow: hidden;
}

.img-box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  vertical-align: middle;
}

.full-size {
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
}

.section {
  width: 100%;
  height: auto;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.title {
  font-size: var(--h1-text);
  font-weight: bold;
  font-family: var(--i-bold);
}

.slide-title {
  font-size: var(--slide-text);
  font-weight: bold;
  font-family: var(--i-bold);
}

.sub-title {
  font-size: var(--h4-text);
  font-weight: 600;
}

.half-side {
  flex: 0 0 50%;
  max-width: 50%;
}

.mini-title {
  font-family: var(--i-thin);
  font-weight: 600;
  font-size: var(--h3-text);
}

.paragraph {
  font-weight: 500;
  line-height: 1.8;
  font-size: var(--paragraph-text);
}

.big-title {
  font-size: var(--big-text);
  font-weight: 500;
}

.hover-btn::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--theme-color);
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.hover-btn:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

/* wrapper and scroll container */

.scroll__container,
.wrapper {
  width: 100%;
  height: 100%;
}

/* remove scrollbar for smoothness */

::-webkit-scrollbar {
  display: none;
}

/* custom cursor */
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  transform-origin: center;
  margin: -1rem 0 0 -1rem;
  border-radius: 50%;
  will-change: transform;
  user-select: none;
  pointer-events: none;
  z-index: 1000;
  border: 2px solid var(--loader-color);
  font-size: 1rem;
  color: var(--white-color);
  font-family: var(--i-bold);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.15s linear;
}

.cursor.active {
  mix-blend-mode: overlay;
  opacity: 0.6;
  border: none;
  background-color: var(--theme-color) !important;
}

.cursor p {
  transition: all 0.3s ease-in-out;
  transform-origin: center;
}

.shapes {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  z-index: 1000;
}

.shape {
  opacity: 0;
  will-change: transform;
  position: absolute;
  background: url(../images/contact.gif) no-repeat;
  background-position: center;
  background-size: cover;
  width: 20rem;
  height: 20rem;
  margin: -10rem 0 0 -10rem;
}

/* nav */

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  padding: 2vh 0;
  z-index: 100;
}

.nav-container {
  max-width: 95%;
  margin: 0 auto;
}

.nav .nav-container .logo {
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.nav .nav-container .logo:hover .logo-char {
  color: var(--theme-color);
  transform: scale(1.2) rotateY(360deg);
}

.nav .nav-container .logo .logo-char {
  transform-origin: center;
  font-size: var(--big-text);
  font-weight: 800;
  color: transparent;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: var(--theme-color);
  transition: all 0.5s ease;
}

.nav .nav-container .logo p {
  font-size: 2vw;
  line-height: 2;
  font-weight: 600;
  color: var(--theme-color);
}

.nav .nav-container .nav-links {
  width: fit-content;
  height: fit-content;
}

.nav .nav-container .nav-links a {
  padding: 0.5rem 0.2rem;
  font-size: var(--btn-font);
  font-weight: 800;
  margin-left: 1vw;
  color: transparent;
  -webkit-text-stroke: 1px;
  letter-spacing: 2px;
  -webkit-text-stroke-color: var(--theme-color);
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.nav .nav-container .nav-links a:hover {
  color: var(--theme-color);
}

/* social links */

.social-links {
  position: fixed;
  bottom: 10vh;
  right: 0;
  padding: 0 1.4vw;
  width: fit-content;
  height: fit-content;
  z-index: 150;
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.6rem 0;
  cursor: pointer;
}

.social-links a:hover p .word .char {
  transform: translateY(0);
}

.social-links a:hover img {
  transform: rotate(360deg) scale(1.6);
}

.social-links a p {
  font-size: 1rem;
  font-weight: 600;
  color: var(--theme-color);
  overflow: hidden;
  padding-right: 1rem;
}

.social-links a p .word .char {
  transform: translateY(100%);
  transition: all 0.3s ease;
}
.social-links a p .word .char:nth-of-type(2) {
  transition-delay: 0.05s;
}
.social-links a p .word .char:nth-of-type(3) {
  transition-delay: 0.1s;
}
.social-links a p .word .char:nth-of-type(4) {
  transition-delay: 0.15s;
}
.social-links a p .word .char:nth-of-type(5) {
  transition-delay: 0.2s;
}
.social-links a p .word .char:nth-of-type(6) {
  transition-delay: 0.25s;
}
.social-links a p .word .char:nth-of-type(7) {
  transition-delay: 0.3s;
}
.social-links a p .word .char:nth-of-type(8) {
  transition-delay: 0.35s;
}

.social-links a img {
  width: 1.3rem;
  height: 1.3rem;
  transform-origin: center;
  transition: all 0.5s ease;
}

/* copyright */

.copyright {
  position: fixed;
  bottom: 2vh;
  right: 1vw;
  width: fit-content;
  height: fit-content;
  z-index: 150;
}

.copyright p {
  font-size: 0.8rem;
  text-align: end;
  padding: 0.1rem 0;
  color: var(--theme-color);
  font-family: "Poppins", sans-serif;
}

.copyright p a {
  font-family: "Poppins", sans-serif;
}

.copyright p a:hover {
  color: var(--theme-color);
}

.copyright p a:after {
  height: 1px;
  transform: scaleX(1);
  transform-origin: left;
}

.copyright p a:hover::after {
  transform: scaleX(0);
  transform-origin: right;
}

/* scroll */

.scroll {
  position: fixed;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  height: fit-content;
  z-index: 100;
  pointer-events: none;
}

.scroll p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--theme-color);
}

/* loader */

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: var(--light-theme-color);
  transform: translateY(0);
}

/* loading animation */

::selection {
  background-color: var(--light-color);
}
