
.hamb__menu
    .hamb__inner__menu
        ul.hamb__menu__inner
            li.hamb__item
                a.hamb__inner__btn(href="/")
                    span.text.splitter Work
                    span.text.splitter Work
            li.hamb__item
                a.hamb__inner__btn(href="/about")
                    span.text.splitter About
                    span.text.splitter About
            li.hamb__item
                a.hamb__inner__btn(href="/")
                    span.text.splitter Contact
                    span.text.splitter Contact
