
.hamb__menu
    .hamb__inner__menu
        ul.hamb__menu__inner
            li.hamb__item
                a.hamb__inner__btn.splitter(href="/") Work
            li.hamb__item
                a.hamb__inner__btn.splitter(href="/about") About
            li.hamb__item
                a.hamb__inner__btn.splitter(href="/") Contact
