nav.navigation
  ul.navigation__list
    li.navigation__item
      a.navigation__link(href="/") JEET.

    li.navigation__item
      a.navigation__link(href="/")
        span.nav__link__text.splitter WORK
        span.nav__link__text.splitter WORK

    li.navigation__item
      a.navigation__link(href="/about")
        span.nav__link__text.splitter ABOUT
        span.nav__link__text.splitter ABOUT

    li.navigation__item
      a.navigation__link(href="mailto:jeetpatel0070070@gmail.com" )
        span.nav__link__text.splitter CONTACT
        span.nav__link__text.splitter CONTACT

  button.navigation__easter Activate Easter Egg
