doctype html
html(lang="en" style="background: #f4d8cc;")
  head
    include ./partials/head

  body

    .loader#loader
      .inner-loader#inner-loader
        <img class="loader__img" src="/loader.gif" alt="loader gif">
          h1.loader-text#loader-text 0

    .bg-container
      .bg-component

    include ./partials/navigation

    include ./partials/home
    include ./partials/about
    include ./partials/case

    include ./partials/noscript
