doctype html
html(lang="en" style="background: #f4d8cc;")
  head
    include ./partials/head

  body

    include ./partials/loader

    .bg-container
      .bg-component

    include ./partials/navigation

    .notice
      img(data-src="/notice.gif", alt="hello")
      h1 FOR GOOD EXPERINCE, OPEN THIS SITE IN BIG SCREEN.

    include ./partials/home
    include ./partials/about
    include ./partials/case

    include ./partials/noscript

    .cursor
        img(data-src="/contact.gif", alt="contact")

    script(src="app/components/dat.gui.min.js")
    script(src="app/components/script.js")
