doctype html
html(lang="en" style="background: #f4d8cc;")
  head
    include ./partials/head

  body.loading

    .loader#loader
      .inner-loader#inner-loader
        <img class="loader__img" src="/loader.gif" alt="loader gif">
          h1.loader-text#loader-text
            span.text
              span 0
              span 1
              span 2
              span 3
              span 4
              span 5
              span 6
              span 7
              span 8
              span 9

            span.text-2
              span 0
              span 1
              span 2
              span 3
              span 4
              span 5
              span 6
              span 7
              span 8
              span 9

    .bg-container
      .bg-component

    include ./partials/navigation

    include ./partials/home
    include ./partials/about
    include ./partials/case

    include ./partials/noscript
