doctype html
html(lang="en" style="background: #f4d8cc;")
  head
    include ./partials/head

  body
    include ./partials/navigation

    include ./partials/home
    include ./partials/about
    include ./partials/case

    include ./partials/noscript
