.preloader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    display: flex;
    align-items:flex-end;
    justify-content: flex-start;
    padding: 5vh 2.5%;
  }


  .preloader__number {
    overflow: hidden;
  }

  .preloader__number__text {
    font-size: 5vw;
  }
