.loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: $color-pine-tree;
  transition: opacity 0.5s ease;
  pointer-events: none;

  & .inner-loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    & img {
      width: 60vw;
      height: auto;
    }

    & h1 {
      font-size: 3vw;
      font-weight: 500;
      line-height: 1;
      font-family: "ff";
      transition: opacity 0.5s ease;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 0.5rem;
      overflow: hidden;
      width: 4vw;
      height: 3vw;

      & span.text,
      & span.text-2 {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
