$color-iron: #ff3a00;
$color-pine-tree: #f4d8cc;

$font-ampersand: "Ampersand", sans-serif;
$font-neue-montreal: "Neue Montreal", sans-serif;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: ("noscript", "navigation", "content", "canvas");
