$color-pine-tree: #d06a04;
$color-iron : #ffffff;

$font-ampersand: "Ampersand", sans-serif;
$font-neue-montreal: "Neue Montreal", sans-serif;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: ("noscript", "navigation", "content", "canvas");
