@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');



html {
  background: rgba(21,28,19,1) !important;
  box-sizing: border-box;
  color: $color-iron;
  font-size: calc(100vw / 1920 * 10);
  height: 100%;
  left: 0;
  overflow: hidden;
  overscroll-behavior: none;
  position: fixed;
  -moz-osx-font-smoothing: grayscale;
  top: 0;
  -webkit-font-smoothing: antialiased;
  width: 100%;

  @include media("<=phone") {
    font-size: calc(100vw / 375 * 10);
  }
}

body {
  background: rgba(21,28,19,1) !important;
  // font-family: $font-neue-montreal;
  // font-family: "Poppins", sans-serif;
  font-family: 'Squada One', cursive;
  height: 100%;
  left: 0;
  opacity: 1;
  overflow: hidden;
  overscroll-behavior: none;
  position: fixed;
  top: 0;
  width: 100%;
  font-weight: 400;
  font-display: swap;
  font-style: normal;

  &::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45vw;
    height: 45vw;
    z-index: -1;
    border-radius: 50%;
    background-color: #0f0f0f;
    transform: translate(-50%,-50%);
    opacity: 0;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
  user-select: none;
  outline: none;
  -webkit-touch-callout: none;
}

* {
  margin: 0;
  padding: 0;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

// ::-webkit-scrollbar {
//   display: none;
//   opacity: 0;
//   visibility: hidden;
// }

// ::-webkit-scrollbar-thumb {
//   background: $color-iron;
// }

a {
  color: inherit;
  outline: none;
  pointer-events: auto;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  border-radius: none;
  color: inherit;
  font: inherit;
  outline: none;
  pointer-events: auto;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

input,
textarea {
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  pointer-events: auto;
}

.content {
  height: 100%;
  left: 0;
  overflow: auto;
  position: absolute;
  top: 0;
  width: 100%;
}

[data-animation="paragraph"] {
  span {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }
}


// webgl composer and controller

.dg{
  display: none !important;
}
