.home {
  @extend %cover;
  @extend %page;

  overflow: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;

  &--active {
    @extend %page--active;
  }

  // &:after {
  //   background: #f0f;
  //   content: '';
  //   height: 100%;
  //   left: 50%;
  //   position: absolute;
  //   transform: translateX(-50%);
  //   width: 1.5rem;
  // }
}

.home__background {
  @extend %cover;

  color: $color-pine-tree;
  display: none;
  pointer-events: none;
  z-index: 10;

  &__top,
  &__bottom {
    background: currentColor;
    content: "";
    display: block;
    height: 10rem;
    position: absolute;
    width: 100%;
  }

  &__top {
    background: linear-gradient(to bottom, currentColor 0%, transparent 100%);
    top: 0;
  }

  &__bottom {
    background: linear-gradient(to bottom, transparent 0%, currentColor 100%);
    bottom: 0;
  }

  @include media("<=phone") {
    display: block;
  }
}

.home__wrapper {
  @extend %cover;
}

.home__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__item {
  // font: 15rem/0.9;
  font-size: 6vw;
  line-height: 1;
  font-weight: bold;
  // font-family: "Poppins", sans-serif;
  font-family: "ff";
  width: 55vw;

  @include media("<=phone") {
    font-size: 18vw;
    padding: 0 2vw;
    line-height: 1.2;
    width: 100%;
  }
}

.home__link {
  display: block;
  text-align: left;
  white-space: nowrap;
  transition: color 0.5s ease, text-shadow 0.5s ease, transform 0.5s ease;
  overflow: hidden;

  &:hover .home__link__wrapper .word .char {
    transform: rotate(15deg);
    color: rgba($color: $color-iron, $alpha: 0.7);
  }
}

.home__link__wrapper {
  display: inline-block;
  pointer-events: none;
  position: relative;

  & .word {
    & .char {
      transition: all 0.4s ease;
      transform-origin: center;

      &:nth-of-type(2) {
        transition-delay: 0.03s;
      }
      &:nth-of-type(3) {
        transition-delay: 0.06s;
      }
      &:nth-of-type(4) {
        transition-delay: 0.09s;
      }
      &:nth-of-type(5) {
        transition-delay: 0.12s;
      }
      &:nth-of-type(6) {
        transition-delay: 0.15s;
      }
      &:nth-of-type(7) {
        transition-delay: 0.18s;
      }
      &:nth-of-type(8) {
        transition-delay: 0.21s;
      }
      &:nth-of-type(9) {
        transition-delay: 0.24s;
      }
      &:nth-of-type(10) {
        transition-delay: 0.27s;
      }
      &:nth-of-type(11) {
        transition-delay: 0.3s;
      }
      &:nth-of-type(12) {
        transition-delay: 0.33s;
      }
      &:nth-of-type(13) {
        transition-delay: 0.36s;
      }
      &:nth-of-type(14) {
        transition-delay: 0.39s;
      }
    }
  }

  @include media("<=phone") {
    transform: none !important;
    width: 100%;
  }
}

.home__link__media {
  background: $color-iron;
  bottom: 0rem;
  height: 12rem;
  margin: 0 1rem;
  object-fit: cover;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  transition: width 0.4s 0.4s $ease-out-expo;
  width: 18rem;

  &[data-direction="left"] {
    right: 100%;
  }

  &[data-direction="right"] {
    left: 100%;
  }

  @include media("<=phone") {
    bottom: 50%;
    margin: 0;

    &[data-direction="left"] {
      right: 50%;
      transform: translate(50%, 50%);
    }

    &[data-direction="right"] {
      left: 50%;
      transform: translate(-50%, 50%);
    }
  }
}
